<table id = "table2" class= "width"> 
	<tr class = "table"> 
		<th>Description</th> 
		<th>Highest bidder</th> 
		<th>Highest bid</th> 
		<th>Status</th> 
		<th>Expiring On</th> 
		<th>Close Auction?</th>
	</tr>
	<% if @sales.blank? %>
	<tr><td colspan = "6" class="si ll1"><strong><%= "You don't have any Sales!!" %></strong></td></tr>
	<% else %>
	<% @sales.each do |record| %>
	<tr>
	<td><%= record.item_name %></td>
	<% if( @maxbids[record.id].blank? )%>
	<td class="ll1 si" colspan="2"><strong><%= "No Bids Yet" %></strong></td>
	<% else %>
	<td><%= @highest_bidder[record.id] %></td>
	<td><%= @highest_bid[record.id] %></td>
	<% end %>
	<td><%= record.status %></td>
	<td><%= record.end_date %></td>
	<% if(record.status=='Open') %>
  	<td>
  	<%= button_to "Close", {:action => :index},{class: "pos3", id: "#{record.id}"}%>
  	</td>
  	<% else %>
  	<td></td>
  	<% end %>
	</tr>
	<% end %>
	<% end %>
</table>